#---------------------------------------
# ide files
#---------------------------------------
.idea

#---------------------------------------
# dependencies
#---------------------------------------
.gradle

#---------------------------------------
# output files
#---------------------------------------

out
**/build/
